{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 10000,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"proseWrap": "preserve"
}
